@using NieGumex.Models
@using System.Xml
@using System.Xml.Linq
@model NieGumex.Models.Facture

@{
    ViewBag.Title = "XML";
}

@*@{ var klient = (ApplicationUser)ViewBag.klient;}*@
<h2>Szczegóły faktury z EDI</h2>

<hr />


@{ 
    string xmlString = ViewBag.falturka;
}

@Html.TextArea("Info", XDocument.Parse(xmlString).ToString(), new { width = "1500", height = "500", @readonly = "readonly", @disabled = "disabled" })
<p>
    @Html.ActionLink("Wróć", "Index")
</p>



