
@{
    ViewBag.Title = "Support";
}

<h2>Support</h2>


<div class="row">
    <div class="col-md-4">
        <input type="text" placeholder="message" data-bind="value:message"/>
        <button class="btn" data-bind="click:sendMessage">Send</button>
    </div>
    <div class="col-md-4">
        <div data-bind="foreach:messages">
            <div class="row" style="background-color:slategray">
                <div data-bind="text: $data"></div>
            </div>
        </div>
    </div>
</div>




@section scripts
{
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
 <script src="~/SignalR/hubs"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/SupportScript.js"></script>
}


